*{
  border:0px;
  margin:0px;
}
.navbar {
  width: 100%;
  height: 100vh;

  background-image: url("pexels-kaip-1341279.png");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.earth img {
  width: 300px;

  animation: rotateEarth 12s linear infinite;
}

@keyframes rotateEarth {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.hero-search{
  margin-left:15px;
}
.search-pin{
  margin:20px;
  padding: 20px;
  width:100px;
  height:20px;

}




footer {
  background-color: rgb(237, 243, 237);
}