*{
  border:0px;
  margin:0px;
}
.navbar {
  width: 100%;
  height: 120vh;

  background-image: url("pexels-kaip-1341279.png");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.earth img {
  width: 300px;

  animation: rotateEarth 12s linear infinite;
}

@keyframes rotateEarth {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.hero-search{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:40px;
}

.search-pin{
    display:flex;
    gap:15px;
    align-items:center;
}
.search-pin input{
    width:320px;
    padding:14px 20px;
    border:none;
    outline:none;
    border-radius:40px;
    background:rgba(255,255,255,0.12);
    backdrop-filter:blur(10px);
    color:white;
    font-size:16px;
    letter-spacing:1px;
    box-shadow:0 0 15px rgba(255,255,255,0.15);
    transition:0.4s;
}
.search-pin input::placeholder{
    color:#dcdcdc;
}
.search-pin input:focus{
    transform:scale(1.03);

    box-shadow:
    0 0 10px #00f7ff,
    0 0 25px #00f7ff;
}
.search-btn{
    padding:14px 28px;
    border:none;
    border-radius:40px;
    background:linear-gradient(45deg,#00f7ff,#5eeaff);
    color:white;
    font-size:17px;
    font-weight:600;
    cursor:pointer;
    transition:0.4s;
    box-shadow:0 0 15px rgba(0,247,255,0.4);
}
.search-btn:hover{
    transform:scale(1.05);
    box-shadow:0 0 25px rgba(0,247,255,0.7);
}

.stars{
  padding : 15px 35px;
  background:black;
  color:white;
  border :none;
  transition:0.1s;

}

.stars:hover {
  display: inline-block;
  background:cyan;
  color :black;
  filter:drop-shadow(0 0 10px rgb(15, 226, 64))
}





.categories{
  background-image: url("pexels-kaip-1341279.png");
  background-color: rgb(158, 236, 236);

}
.nav-links{
  text-decoration: none;
  text-decoration-color: #ffffff;
  text-underline-offset: 20px;
}
.btn-actions{
  display:flex;
  animation:pulse 1s infinite;
  gap:50px;
  justify-content: center;
  align-items:center;
  margin-top:20px;
  color:rgb(233, 126, 4);
  transition:0.5s;
}
@keyframes pulse{
  0%{transform:scale(1);
     border-bottom: 2px solid black;
  }
  50%{transform:scale(1.1);
     border-bottom: 2px solid black;
  }
  100%{transform:scale(1);
    border-bottom: 2px solid black;
  }
}





footer {
  background-color: rgb(237, 243, 237);
}